body
{
    margin:0px;
    padding:0px;
    background-color: #D7FDEC;
    font-family: sans-serif;
}

header
{
    background-color: #A9FBD7;
}

nav
{
    background-color:#81D2C7;
}

footer
{
    background-color:#A9FBD7;
    height:10vh;
}