@media only screen and (max-width: 600px) 
{
    #header
    {
        flex-direction:column;
    }

    #logotext
    {
        width:145px;
        margin:0 auto;
    }

    #section-purchase
    {
        flex-direction:column;
    }

    #preview-list
    {
        flex-direction:column;
    }

    #nav
    {
        justify-content: center;
    }
    #nav ul
    {
        padding:0px;
    }
    #nav li
    {
        display:list-item;
        padding-right:0px;
        list-style: none;
    }

    #content
    {
        margin-top:129px;
    }
} 