body
{
    margin:0px;
    
}

.container
{
    display:flex;
    flex-direction: column;
}

.content
{
    display: flex;
    justify-content: space-between;
}

header
{
    background-color:#E0E0E2;
    height:10vh;
}

nav
{
    background-color:#81D2C7;
    height:5vh;
}

aside
{
    background-color:#B5BAD0;
    height:70vh;
    width:20%;
}

main
{
    background-color:#7389AE;
    height:70vh;
    width:60%;
}

section
{
    background-color:#416788;
    height:70vh;
    width:20%;
}   

footer
{
    background-color:#E0E0E2;
    height:10vh;
}

@media (max-width:600px)
{
    .content
    {
        flex-direction: column;
    }
    aside
    {
        width:100%;
    }
    main
    {
        width:100%;
    }
    section 
    {
        width:100%;
    }
}